.app-header {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: var(--background-color-two);
}

.app-header-line {
    height: 50px;
    width: 100%;
    background-color: var(--background-color-one);
}

.app-icon {
    position: absolute;
    z-index: 9999;
    background-color: white;
    border-radius: 75px;
    max-width: 150px;
    min-width: 150px
}

@media only screen and (max-width: 600px) {
    .app-header {
        height: 66px;
    }
    .app-header-line {
        height: 33px;
    }
    .app-icon {
        max-width: 100px;
        min-width: 100px;
    }
}