.map-section {
    padding: 80px 40px;
    background-color: white;
}

.map-container {
    padding: 20px 0px
}

.map-link-icon {
    margin-top: 5px;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
}

.leaflet-popup-content {
    width: 120px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .leaflet-container {
        height: 50vh
    }
    .map-container {
        width: 100vw;
        margin-left: -60px;
    }
}
