/* leafletjs CSS - Required to render the map */
.leaflet-container {
  width: 100%;
  height: 100vh;

  .leaflet-control-zoom-in {
    font-family: var(--font-body);
    font-size: 1rem;
    color: var(--color-dark);
  }

  .leaflet-control-zoom-out {
    font-family: var(--font-body);
    font-size: 1rem;
    color: var(--color-dark);
  }

  .btn-primary {
    color: var(--color-bg-light);
  }

  .btn-secondary {
    color: var(--color-primary);
  }
}

.leaflet-popup {
  .leaflet-popup-content-wrapper {
    background-color: var(--color-bg-normal);
    border-top: 4px solid var(--color-primary);
  }

  .leaflet-popup-content {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 220px;
    font-family: var(--font-body);
    font-size: 1rem;
    color: var(--color-dark);

    p {
      margin: 0;
    }
  }

  .leaflet-popup-tip {
    background-color: var(--color-bg-normal);
  }
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 4px;
}

.popup-content-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.popup-content-header-label {
  color: var(--color-primary);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4px;
}

.map-link-icon {
  margin-top: 5px;
}

.map-popover-content {
  margin-top: 8px;
  font-family: var(--font-body);
  font-size: 0.8rem;
  width: 100%;
}

.map-popover-content-subcountries {
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn-primary:first-child {
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 2px solid var(--color-border);
  }

  .btn-primary:last-child {
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .btn-primary {
    border-radius: 0;
    border-bottom: 2px solid var(--color-border);
  }
}

.map-popover-content-subcountry-post {
  display: flex;
  justify-content: space-between;
}

.country-autocomplete {
  background-color: white;
  border-radius: 4px;

  .MuiAutocomplete-input {
    font-family: var(--font-body);
    color: var(--color-dark);
  }
}

.MuiAutocomplete-option,
.MuiAutocomplete-noOptions {
  font-family: var(--font-body);
  color: var(--color-dark);
}

@media only screen and (max-width: 800px) {
  .leaflet-container {
    height: 70vh;
  }
  .map-container {
    width: 100vw;
    margin-left: -20px;
    margin-bottom: -20px;
    padding-bottom: 0;
  }
  .map-header-link {
    transform: translateY(-10px);
  }
}

.map-section {
  padding: 6rem 1.5rem;
  overflow: hidden;
  background-color: var(--color-bg-normal);
}

@media (min-width: 600px) {
  .about-container {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .about-section {
    padding: 6rem 1.5rem;
  }
}

.map-header-container {
  text-align: center;
  margin-bottom: 3rem;

  p {
    margin-top: 1.25rem;
  }
}

.map-legend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  font-family: var(--font-body);
  font-size: 0.875rem;
  color: var(--color-muted);
  margin-top: 0.5rem;
}

.map-legend-item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.map-legend-item-img {
  height: 2.5rem;
}
