.section {
  padding: 120px 160px;
  color: #21232c;
}

.background-dark {
  background-color: var(--background-color-dark);
  color: var(--background-color-light)
}

.background-light {
  background-color: var(--background-color-light);
  color: var(--background-color-dark)
}

@media only screen and (max-width: 800px) {
  .section {
    padding: 80px 20px 120px 20px;
  }
}
