.section {
  padding: 60px;
  color: #21232c;
}

.background-one {
  background-color: var(--background-color-one);
}

.background-two {
  background-color: var(--background-color-two);
}

@media only screen and (max-width: 800px) {
  .section {
    padding: 20px;
  }
}
