.app-header {
    display: flex;
    justify-content: center;
    height: 65px;
    background-color: var(--background-color-two);
}

.app-icon {
    position: absolute;
    z-index: 9999;
    background-color: white;
    border-radius: 75px;
    max-width: 130px;
    min-width: 130px
}

@media only screen and (max-width: 600px) {
    .app-header {
        height: 50px;
    }

    .app-icon {
        max-width: 100px;
        min-width: 100px;
    }
}